.a-upload {
    padding: 4px 10px;
    width: 60px;
    text-align: center;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #333333;
    background: #e5e5e5 !important;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #d8d8d8;
    border-color: #ccc;
    text-decoration: none
}