{% extends 'base.html' %}
{% block title %}国药CMDB—资产列表{% endblock %}

{% block content_title %}资产列表{% endblock %}

{% block content %}

<div class="alert alert-success" id="success" style="display:none">
    <button type="button" class="close" id="close">&times;</button>
    <strong id="status-success">{{ status_success }}</strong>
</div>
<div class="alert alert-warning" id="warning" style="display:none">
    <button type="button" class="close" id="close">&times;</button>
    <strong id="status-warning">{{ statuss_warning }}</strong>
</div>
<div class="alert alert-info" id="info" style="display:none">
    <button type="button" class="close" id="close">&times;</button>
    <strong id="status-info">{{ statuss_info }}</strong>
</div>

<div class="margin pull-left">
    <button type="button" class="btn btn-default" id="renew">批量更新</button>
    <button type="button" class="btn btn-default" id="exportasset">导出</button>
</div>
<div class="pull-right">
    <form class="pull-right" action="/search/asset/" method="get">
        <!-- {% csrf_token %} -->
        <input class="span9" type="input" name="search" placeholder="可模糊搜索，不区分大小写">
        <button class="btn btn-default" type="submit">搜索</button>
    </form>
</div>

<div>
<table class="table table-hover table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>IP地址</th>
      <th>主机名</th>
      <th>操作系统</th>
      <th>CPU型号</th>
      <th>CPU</th>
      <th>内存</th>
      <th>硬盘</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <!-- 测试数据开始 -->
    <!-- <tr> -->
        <!-- <td id="ip">192.168.2.1</td> -->
        <!-- <td>node1</td> -->
        <!-- <td>centos 6.5 centos 6.5</td> -->
        <!-- <td>Xen E6 Xen E6 Xen E6</td> -->
        <!-- <td>1核1线程 x 1</td> -->
        <!-- <td>988 MB</td> -->
        <!-- <td>20 GB</td> -->
        <!-- <td> -->
            <!-- <button class="btn btn-default">删除</button> -->
            <!-- <button class="btn btn-default">更新</button> -->
        <!-- </td> -->
    <!-- </tr> -->   
    <!-- 测试数据结束 -->
    {% for each in info.object_list %}
    <tr>
        <td name="ip">{{ each.ip_pub }}</td>
        <td title={{ each.hostname }}>{{ each.hostname | truncatechars:"25" }}</td>
        <td>{{ each.os }}</td>
        <td>{{ each.cpu_model }}</td>
        <td>{{ each.cpu }}</td>
        <td>{{ each.mem }}</td>
        <td>{{ each.disk }}</td>
        <td>
            <button class="btn btn-default" onclick="delasset(this)">删除</button>
            <button class="btn btn-default" onclick="renew_this(this)">更新</button> 
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div class="pull-left">
    总共 <span id="count">{{ count }}</span> 条记录
    最近更新时间：<span id="update_time">{{ update_time|date:"Y-m-d H:i:s" }}</span>
</div>

<div class="pagination pull-right">
  <ul>
    {% if info.has_previous %}
        <li><a href="?{{ info.previous_page_number.querystring }}">上一页</a></li>
    {% endif %}
    {% for page in info.pages %}
        {% if page %}
            {% ifequal page info.number %}
                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
            {% else %}
                <li><a class="page" href="?{{ page.querystring }}">{{ page }}</a></li>
            {% endifequal %}
        {% else %}
            <li class="none"><a href="">...</a></li>
        {% endif %}
    {% endfor %}
    {% if info.has_next %}
        <li><a href="?{{ info.next_page_number.querystring }}">下一页</a></li>
    {% endif %}
</div>

{% endblock %}