{% extends 'base.html' %}
{% block title %}国药CMDB—主机列表{% endblock %}

{% block content_title %}主机列表{% endblock %}

{% block content %}

<div class="alert alert-success" id="success" style="display:none">
    <button type="button" class="close" id="close">&times;</button>
    <strong id="status-success">{{ status_success }}</strong>
</div>
<div class="alert alert-warning" id="warning" style="display:none">
    <button type="button" class="close" id="close">&times;</button>
    <strong id="status-warning">{{ status_warning }}</strong>
</div>
<div class="alert alert-info" id="info" style="display:none">
    <button type="button" class="close" id="close">&times;</button>
    <strong id="status-info">{{ status_info }}</strong>
</div>
<div class="margin pull-left">
    <button type="button" class="btn btn-default" href="#templateModal" data-toggle="modal">模版添加</button>
    <button type="button" class="btn btn-default" href="#manualModal" data-toggle="modal">手动添加</button>
    <button type="button" class="btn btn-default" disabled>导出</button>
    <h5 style="color:red">{{ error }}</h5>
</div>

<div class="pull-right">
    <form class="pull-right" action="/search/host/" method="get">
        <!-- {% csrf_token %} -->
        <input class="span9" type="input" name="search" placeholder="可模糊搜索，不区分大小写">
        <button class="btn btn-default" type="submit">搜索</button>
    </form>
</div>


<div>
<table class="table table-hover table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>外网IP</th>
      <th>内网IP</th>
      <th>认证用户</th>
      <th>主机状态</th>
      <th>添加时间</th>
      <th>操作</th>
    </tr>
    </thead>
  <tbody>
    <!-- <tr> -->
        <!-- <td id="ip">192.168.2.1</td> -->
        <!-- <td>wwwuser</td> -->
        <!-- <td>UP</td> -->
        <!-- <td>2017-11-22 10:10:10</td> -->
        <!-- <td> -->
            <!-- <button class="btn btn-default">检测</button> -->
            <!-- <button class="btn btn-default">改密</button> -->
            <!-- <button class="btn btn-default">删除</button> -->

        <!-- </td> -->
    <!-- </tr>    -->
    {% for each in info.object_list %}
    <tr>
        <td>{{ each.ip_pub }}</td>
        <td>{{ each.ip_prv }}</td>
        <td>{{ each.username }}</td>
        <td>{{ each.status }}</td>
        <td>{{ each.update_time|date:"Y-m-d H:i:s" }}</td>
        <td>
            <button class="btn btn-default chk">检测</button>
            <button class="btn btn-default change_pwd" >改密</button>
            <button class="btn btn-default" onclick="delhost(this)">删除</button>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div class="pagination pull-right">
  <ul>
    {% if info.has_previous %}
        <li><a href="?{{ info.previous_page_number.querystring }}">上一页</a></li>
    {% endif %}
    {% for page in info.pages %}
        {% if page %}
            {% ifequal page info.number %}
                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
            {% else %}
                <li><a class="page" href="?{{ page.querystring }}">{{ page }}</a></li>
            {% endifequal %}
        {% else %}
            <li class="none"><a href="">...</a></li>
        {% endif %}
    {% endfor %}
    {% if info.has_next %}
        <li><a href="?{{ info.next_page_number.querystring }}">下一页</a></li>
    {% endif %}
</div>

<!-- 模版添加的模态对话框 -->
<div id="templateModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="templateModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="templateModalLabel">模版添加</h3>
  </div>
  <div class="modal-body">
    <div>
        <h5>第一步：</h5><a href="/download/" class="a-upload">下载模版</a>
        <span style="color:red">模版文件名为<code>template.xls</code>，不可改名，已有则无需再下载。</span>
    </div>
    <div>
        <h5>第二步：</h5>
        <form enctype="multipart/form-data" action="/upload/" method="post" name="myForm">
            {% csrf_token %}
            <a href="javascript:;" class="a-upload">
                <input type="file" name="templateFile" id="templateFile">上传模版
            </a>
            <span id="uploadFileName"></span>
            <h5>第三步：</h5>
            <button id="templateAdd" class="btn btn-default">开始添加</button>
        </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>

<!-- 手动添加的模态对话框 -->
<div id="manualModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="templateModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="templateModalLabel">手动添加</h3>
    <span id="upload_info" style="display:none">{{ upload_info }}</span>
  </div>
  <div class="modal-body">
        <form enctype="multipart/form-data" id="manualForm" action="/addhost/manual/" method="post">
            {% csrf_token %}
            <h5>外网IP：</h5>
            <input type="text" name="ip_pub" required>
            <h5>内网IP</h5>
            <input type="text" name="ip_prv">
            <h5>认证用户：</h5>
            <input type="text" name="authuser" required>
            <h5>认证密码：</h5>
            <input type="text" id="manualAdd" name="passw0rd" autocomplete="off" required>
            <br>
            <button type="reset" class="btn btn-default">重置</button>
            <button type="submit" class="btn btn-default">添加</button>
        </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>


{% endblock %}
