{% extends 'base.html' %}
{% block title %}主机列表{% endblock %}

{% block content_title %}主机列表{% endblock %}

{% block content %}
<div class="margin pull-left">
    <button type="button" class="btn btn-default" href="#templateModal" data-toggle="modal">模版添加</button>
    <button type="button" class="btn btn-default">手动添加</button>
    <button type="button" class="btn btn-default">导出</button>
    <h5 style="color:red">{{ error }}</h5>
</div>

<div class="pull-right">
    <form class="pull-right" action="/search/" method="post">
        {% csrf_token %}
        <input class="span9" type="input" name="search" placeholder="可模糊搜索，不区分大小写">
        <button class="btn btn-default" type="submit">搜索</button>
    </form>
</div>


<div>
<table class="table table-hover table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>IP地址</th>
      <th>认证用户</th>
      <th>主机状态</th>
      <th>检测时间</th>
      <th>操作</th>
    </tr>
    </thead>
  <tbody>
    <!-- <tr> -->
        <!-- <td id="ip">192.168.2.1</td> -->
        <!-- <td>wwwuser</td> -->
        <!-- <td>UP</td> -->
        <!-- <td>2017-11-22 10:10:10</td> -->
        <!-- <td> -->
            <!-- <button class="btn btn-default">检测</button> -->
            <!-- <button class="btn btn-default">改密</button> -->
            <!-- <button class="btn btn-default">删除</button> -->

        <!-- </td> -->
    <!-- </tr>    -->
    {% for each in info.object_list %}
    <tr>
        <td name="ip">{{ each.ip }}</td>
        <td>{{ each.username }}</td>
        <td>{{ each.status }}</td>
        <td>{{ each.update_time|date:"Y-m-d H:i:s" }}</td>
        <td>
            <button class="btn btn-default">检测</button>
            <button class="btn btn-default">改密</button>
            <button class="btn btn-default" onclick="delhost(this)">删除</button>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div class="pagination pull-right">
  <ul>
    {% if info.has_previous %}
        <li><a href="?{{ info.previous_page_number.querystring }}">上一页</a></li>
    {% endif %}
    {% for page in info.pages %}
        {% if page %}
            {% ifequal page info.number %}
                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
            {% else %}
                <li><a class="page" href="?{{ page.querystring }}">{{ page }}</a></li>
            {% endifequal %}
        {% else %}
            <li class="none"><a href="">...</a></li>
        {% endif %}
    {% endfor %}
    {% if info.has_next %}
        <li><a href="?{{ info.next_page_number.querystring }}">下一页</a></li>
    {% endif %}
</div>

<div id="templateModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="templateModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="templateModalLabel">模版添加</h3>
  </div>
  <div class="modal-body">
    <div><h5>第一步：</h5><a href="/download/" class="a-upload">下载模版</a></div>
    <div>
        <h5>第二步：</h5>
        <form enctype="multipart/form-data" action="/upload/" method="post">
            {% csrf_token %}
            <a href="javascript:;" class="a-upload">
                <input type="file" name="templateFile" id="templateFile">上传模版
            </a>
            <span id="uploadFileName"></span>
            <h5>第三步：</h5>
            <button type="submit" id="templateAdd" class="btn btn-default">开始添加</button>
        </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>
{% endblock %}